.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: #3A3F41;
}

.ballancePanTool {
  margin-left: 5px;
}

.leaveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 45px;
  border-radius: 22.5px;
  background: #EA4336;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .hideOnPhone {
    display: none;
  }
}
